<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-icon name="moon" class="ion-margin-horizontal" size="large" slot="start"></ion-icon>
    <ion-title>
      CodeForBread Sleep Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="assets/how-to-sleep-through-the-night_thumb.webp" alt="sleepy moon" class="home-image" >
  <ion-grid class="ion-margin-vertical">
    <ion-row class="ion-align-items-center ion-padding-vertical">
      <ion-col size="12">
        <ion-button routerLink="/sleep-log" expand="block"><ion-icon name="bed" size="large" slot="start"></ion-icon>
        Log overnight sleep</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-padding-vertical">
      <ion-col size="12">
        <ion-button routerLink="/sleepiness-log" expand="block"><ion-icon name="school" size="large" slot="start"></ion-icon> Stanford Sleepiness</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-padding-vertical">
      <ion-col size="12">
        <ion-button routerLink="/view-data" expand="block"><ion-icon name="stats-chart" size="large" slot="start"></ion-icon> View data</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
