<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Sleep log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-margin-vertical main-grid">
    <ion-row class="ion-align-items-center ion-padding-vertical">
      <ion-col>
        <ion-item>
          <ion-label>Starting sleep time</ion-label>
          <ion-datetime-button datetime="start-datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime [(ngModel)]="sleepLog.start_date" id="start-datetime" presentation="date-time"
                hourCycle="h23" [preferWheel]="true"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-padding-vertical">
      <ion-col>
        <ion-item>
          <ion-label>Ending sleep time</ion-label>
          <ion-datetime-button datetime="end-datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime [(ngModel)]="sleepLog.end_date" id="end-datetime"
                presentation="date-time" hourCycle="h23" [preferWheel]="true">
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <ion-button (click)="onSubmit()" expand="block">Submit log</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>